body {
    background-image: url(fumer.png);
    background-attachment: scroll;
    background-color: gainsboro;
    background-repeat: no-repeat; 
    background-position: top;
}

.menu,.titre {
    width:200px;
    float: top;
}


.imagelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:180px;
    height:30px;

}

#menu {

color:green;

}

p {
  line-height: 40px;
  text-align: center;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: auto;
  font-size: 20px;
}