body {
    background-image: url(fumer.png);
    background-attachment: fixed;
    background-color: gainsboro;
    background-repeat: no-repeat; 
    background-position: top;
}

#logo {
  width: 200px;
  
}

nav .menu li {
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.menu {
  display: inline-flex;
  justify-content: center;

}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: gray;
}

p {
  line-height: 40px;
  text-align: center;
  display: flex;
  margin-top: 5%;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 20px;
}

.poumon {
  float: left;
  width: 400px;
  border: black solid 2px;
  margin-top: 28%;
}

.dent {
  position: absolute;
  top: 50%;
  right: 0px;
  width: 390px;
  border: black solid 2px;
}

header {
  background-color: black;
}

.container {
  max-width: 1200px;
    width: 95%;
    margin: 0 auto;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
}

footer {
background-color: black;
font-size: 2rem;
}

footer p {
  color: white;
}
